{% include 'common/templates/header.j2' %}

RESTIC_REPOSITORY="{{ restic_vars.repository }}"
RESTIC_PASSWORD="{{ restic_vars.password }}"
RESTIC_COMPRESSION="{{ restic_vars.compression }}"

RESTIC_KEEP_HOURLY="{{ restic_vars.keep_hourly }}"
RESTIC_KEEP_DAILY="{{ restic_vars.keep_daily }}"
RESTIC_KEEP_WEEKLY="{{ restic_vars.keep_weekly }}"
RESTIC_KEEP_MONTHLY="{{ restic_vars.keep_monthly }}"
RESTIC_KEEP_YEARLY="{{ restic_vars.keep_yearly }}"
{% if restic_vars.environment %}

{% for restic_env_key, restic_env_value in restic_vars.environment.keys() %}
{{ restic_env_key }}="{{ restic_env_value }}"
{% endfor %}
{% endif %}
